:root {
  --theme: #008900;
}

@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap";

body {
  font-family: ibm plex sans, sans-serif;
  font-size: 13px;
}

.osahan-listing .tic-div p.text-black {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
    inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
    inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background: hsla(0, 0%, 53.3%, 0.4);
}

.home-tabs button {
  border: none;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 12px 0 10px 0;
  margin: 0 22px 0 0;
}

.home-tabs button:hover {
  color: #2c2c2c;
  border-bottom: 2px solid gray;
}

.home-tabs button.active {
  color: #008900;
  border-bottom: 2px solid #008900;
  font-weight: 500;
}

.selling-box .home-product {
  padding: 0 1px 1px;
}

.home-productc {
  padding: 10px;
}

.osahan-index img {
  height: 120px;
  border-radius: 29px !important;
  -webkit-border-radius: 29px !important;
  -moz-border-radius: 29px !important;
  -ms-border-radius: 29px !important;
  -o-border-radius: 29px !important;
}

.osahan-index {
  background: url(../img/bg.png);
  background-size: 270px;
}

.landing-page .slick-dots {
  bottom: 96px;
}

.gift-code {
  border: 1px dotted;
  padding: 10px 11px;
  border-radius: 5px;
  display: table;
  letter-spacing: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.osahan-gift img.img-fluid.m-auto {
  height: 110px;
  width: 120px;
  object-fit: scale-down;
}

.bag-item .bag-item-left {
  margin-left: -0.25rem !important;
}

.bag-item-left {
  width: 130px;
}

.bag-item .slider-nav img {
  height: 33px;
  object-fit: scale-down;
  width: 100%;
}

.bag-item .bag-item-left .slider-nav .slick-current.slick-active img {
  border-color: #07ff8b !important;
  border: 2px solid #117904 !important;
}

.quantity-btn {
  width: 68px;
}

.size-btn .btn {
  width: 68px;
  font-size: 12px;
}

.size-btn .btn span {
  margin-left: auto;
}

.quantity-btn .form-control {
  font-size: 12px;
  padding: 3px;
}

.quantity-btn .btn {
  padding: 1px;
  font-size: 19px;
  line-height: 24px;
}

.osahan-btn-group .small {
  font-size: 12px;
}

.osahan-btn-group h6 {
  font-size: 14px;
}

.osahan-btn-group .btn {
  border: 1px solid #e3e4e4;
  color: #6f7880;
  opacity: 0.7;
}

.osahan-btn-group .btn-check:active + .btn-outline-light,
.osahan-btn-group .btn-check:checked + .btn-outline-light,
.osahan-btn-group .btn-outline-light.active,
.osahan-btn-group .btn-outline-light.dropdown-toggle.show,
.osahan-btn-group .btn-outline-light:active {
  border-color: #198753;
  color: #198753;
  opacity: unset;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 206, 69, 0.075) !important;
}

.app-box img.img-fluid {
  height: 36px;
}

.app-box span {
  line-height: 17px;
}

.input-group-lg > .btn,
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text {
  padding: 0.5rem 0.8rem;
  font-size: 14px;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.form-control:focus {
  border-color: #bfc5cd;
  outline: 0;
  box-shadow: none;
}

.btn {
  font-size: 13px;
  padding: 10px;
  letter-spacing: 0.5px;
}

.btn-lg {
  font-size: 14px !important;
  padding: 16px !important;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 1px !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.btn-sm {
  padding: 5px 10px;
}

.text-theme {
  color: var(--theme);
}

.links a {
  text-decoration: none;
  color: #000000;
}

.links a:hover {
  color: grey;
}

.links a.active {
  color: var(--theme);
}

.back-color {
  background-color: #a6ffa6;
}

.back-color-card {
  background-color: #9eb0ff;
}

.h-50 {
  height: 50px;
}

.w-55 {
  width: 55px;
}

.bg-light2 {
  background-color: #02b45b;
}

.slick-dotted.slick-slider {
  margin-bottom: 19px;
}

.home-cate,
.single-item,
.slider-for,
.slider-nav {
  display: none !important;
}

.slick-initialized {
  display: block !important;
}

.footer-menu p {
  font-size: 9px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-top: 5px !important;
}

.footer-menu a {
  padding: 12px !important;
}
